{% extends "base.html.twig" %}

{% block body %}
	{{ include('_bs_form/_bs_top_form.html.twig')}}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-outline-dark my-3" type="submit">Ajouter</button>
    {{ form_end(form) }}
    	{{ include('_bs_form/_bs_bottom_form.html.twig')}}
{% endblock %}