{% extends "base.html.twig" %}

{% block body %}

<h1 class="text-center mb-5">Ajouter une catégorie</h1>

	{{ include('_bs_form/_bs_top_form.html.twig')}}
	{{ form_start(form) }}

	<div class="errors d-flex">
		{{ form_label(form.name) }}
		{{ form_errors(form.name) }}
	</div>
	{{ form_widget(form.name) }}
	{{ form_help(form.name) }}

	<button class="btn btn-outline-light my-3 form-btn" type="submit">Ajouter</button>
	{{ form_end(form) }}
	{{ include('_bs_form/_bs_bottom_form.html.twig')}}

{% endblock %}
