{% extends 'base.html.twig' %}

{% block title %}Edit Episode
{% endblock %}

{% block body %}
	<h1>Modifier un épisode</h1>

	{{ include('episode/_inner_form.html.twig')}}
{{ include('_bs_form/_form.html.twig', {'button_label': 'Editer'}) }}
		<a class="btn btn-outline-secondary my-3 form-btn" href="{{ path('app_episode_index') }}">Retour</a>
	    {{ include('episode/_delete_form.html.twig') }}
	</div>
		{{ include('_bs_form/_bs_bottom_form.html.twig')}}
{% endblock %}
