{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}
    <h1>Episode</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ episode.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ episode.synopsis }}</td>
            </tr>
        </tbody>
    </table>

     	<div class="d-flex justify-content-between  align-items-center">
    <a class="btn btn-outline-secondary my-3" href="{{ path('app_episode_index') }}">Retour</a>
    <a class="btn btn-outline-light my-3" href="{{ path('app_episode_edit', {'id': episode.id}) }}">Modifier</a>
    {{ include('episode/_delete_form.html.twig') }}


    </div>
{% endblock %}
