{% extends 'base.html.twig' %}

{% block title %}Season index{% endblock %}

{% block body %}
    <h1>Season index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Year</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for season in seasons %}
            <tr >
                <td class="align-middle">{{ season.id }}</td>
                <td class="align-middle">{{ season.number }}</td>
                <td class="align-middle">{{ season.year }}</td>
                <td class="align-middle lh-lg fw-light m-1">{{ season.description }}</td>
                <td>
                    <a class="btn btn-outline-success w-100 my-1" href="{{ path('app_season_show', {'id': season.id}) }}">show</a>
                    <a class="btn btn-outline-warning w-100 my-1" href="{{ path('app_season_edit', {'id': season.id}) }}">edit</a>
                </td>
            </tr >
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_season_new') }}">Create new</a>
{% endblock %}
