{% extends 'base.html.twig' %}

{% block title %}Season index{% endblock %}

{% block body %}
<div class="d-flex justify-content-between mb-5">
    <h1 clas="">Administrer les saisons</h1>
    <a class="btn btn-outline-light m-2 add-btn form-btn" href="{{ path('app_season_new') }}">Ajouter</a>
</div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Year</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for season in seasons %}
            <tr >
                <td class="align-middle">{{ season.id }}</td>
                <td class="align-middle">{{ season.number }}</td>
                <td class="align-middle">{{ season.year }}</td>
                <td class="align-middle lh-lg fw-light m-1">{{ season.description }}</td>
                <td class="d-flex flex-column align-content-end">
                    <a class="btn btn-outline-success my-1 form-btn" href="{{ path('app_season_show', {'id': season.id}) }}">show</a>
                    <a class="btn btn-outline-warning my-1 form-btn" href="{{ path('app_season_edit', {'id': season.id}) }}">edit</a>
                </td>
            </tr >
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
