{{ include('_bs_form/_bs_top_form.html.twig')}}
	{{ form_start(form) }}

	<div class="errors d-flex">
		{{ form_label(form.title) }}
		{{ form_errors(form.title) }}
	</div>
	{{ form_widget(form.title) }}
	{{ form_help(form.title) }}

	<div class="errors d-flex">
		{{ form_label(form.synopsis) }}
		{{ form_errors(form.synopsis) }}
	</div>
	{{ form_widget(form.synopsis) }}
	{{ form_help(form.synopsis) }}

	<div class="errors d-flex">
		{{ form_label(form.poster) }}
		{{ form_errors(form.poster) }}
	</div>
	{{ form_widget(form.poster) }}
	{{ form_help(form.poster) }}

	<div class="errors d-flex">
		{{ form_label(form.category) }}
		{{ form_errors(form.category) }}
	</div>
	{{ form_widget(form.category) }}
	{{ form_help(form.category) }}