{{ include('_bs_form/_bs_top_form.html.twig')}}
	{{ form_start(form) }}

	<div class="errors d-flex">
		{{ form_label(form.name) }}
		{{ form_errors(form.name) }}
	</div>
	{{ form_widget(form.name) }}
	{{ form_help(form.name) }}

	<div class="errors d-flex">
		{{ form_label(form.actorFile) }}
		{{ form_errors(form.actorFile) }}
	</div>
	{{ form_widget(form.actorFile) }}
	{{ form_help(form.actorFile) }}

	<div class="errors d-flex">
		{{ form_label(form.programs) }}
		{{ form_errors(form.programs) }}
	</div>
	{{ form_widget(form.programs) }}
	{{ form_help(form.programs) }}
