{% extends 'base.html.twig' %}

{% block title %}Acteurs dans le programme
{% endblock %}

{% block body %}
	<div class="contenair">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<h1>Tous les acteurs</h1>
				{% set photoNumber = 1 %}
				{% for actor in actors %}
					<div class="card my-3">
						<div class="row g-0">
							<div class="col-md-4">
								<img src="{{ vich_uploader_asset(actor) }}" class="card-img-top" alt="Une photo de {{ actor.name }}">
							</div>
							{% set photoNumber = photoNumber + 1 %}
							<div class="col-md-8">
								<div class="card-body h-100">
									<p class="card-title fs-1 text-center">{{ actor.name }}</p>
									<p class="card-title fs-3 text-center">A jouer dans :</p>
									<ul>
										{% for program in actor.programs %}
											<li>
												<a href="{{ path("program_show", { slug: program.slug }) }}" class="text-dark text-decoration-none">{{ program.title }}</a>
											</li>
										{% endfor %}
									</ul>
								</div>
									<div
										class="position-relative ">
										{# <a href="{{ path("category_show", { categoryName: category.name }) }}" class="btn btn-outline-dark">Voir la liste de cette categorie</a> #}
										<a href="{{ path('App_index') }}" class="btn btn-outline-secondary position-absolute bottom-0 end-0">Retour à l'accueil</a>
									</div>
							</div>
						</div>
					</div>
				{% else %}
					Aucune catégorie trouvée.
				{% endfor %}

			</div>
		</div>
	</div>
{% endblock %}
