<nav class="navbar navbar-expand-lg bg-dark">
	<div class="container-fluid">
		<img id="logo" src="{{ asset('build/images/w.png') }}" alt="logo"/>
		<a class="navbar-brand text-light px-3" href="{{ path('App_index')}}">Wild Series</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">

			<ul class="navbar-nav ">

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle text-light px-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						{{ 'categories'|trans }}
					</a>
					<ul class="dropdown-menu dropdown-menu-dark">
						<li>
							<a class="dropdown-item fw-bold" href="{{ path('category_index')}}">{{ 'see_all_categories'|trans }}</a>

							{% if is_granted("ROLE_ADMIN") %}
								<a class="dropdown-item fw-light" href="{{ path("category_app_category_index") }}">{{ 'administer.categories'|trans }}</a>
								<a class="dropdown-item fw-light" href="{{ path("program_app_program_index") }}">{{ 'administer.programs'|trans }}</a>
								<a class="dropdown-item fw-light" href="{{ path("app_season_index") }}">{{ 'administer.seasons'|trans }}</a>
								<a class="dropdown-item fw-light" href="{{ path("app_episode_index") }}">{{ 'administer.episodes'|trans }}</a>
							{% endif %}
						</li>
						<li><hr class="dropdown-divider"></li>

						{{ render(controller('App\\Controller\\DefaultController::navbarTop')) }}

					</ul>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle text-light  px-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Acteurs
					</a>
					<ul class="dropdown-menu dropdown-menu-dark">
						<li>
							<a class="dropdown-item" href="{{ path("actor_index") }}">Tous les acteurs</a>
						</li>
						{% if is_granted("ROLE_ADMIN")  %}
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item fw-light" href="{{ path("actor_app_actor_index") }}">Administrer les acteurs</a>
							</li>
						{% endif %}
					</ul>
				</li>

				<li class="nav-item">
					<a class="nav-link text-light px-3" href="#">Mes favoris</a>
				</li>

				<li class="nav-item">

					{% if app.user %}
						<a class="nav-link text-light px-3" href="{{ path('app_logout') }}">
							{{ 'account.logout'|trans }}</a>
					{% else %}
						<a class="nav-link text-light px-3" href="{{ path('app_login') }}">
							{{ 'account.login'|trans }}</a>
					{% endif %}
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle text-light px-3" href="#" id="dropdown-language" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{ app.request.locale|locale_name(app.request.locale)|u.title }}
					</a>
					<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdown-language">
						<li>
							<a class="dropdown-item" href="{{ path('App_index', {_locale: 'en'}) }}">English</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('App_index', {_locale: 'fr'}) }}">Français</a>
						</li>
					</ul>
				</li>

			</ul>
		</div>
	</div>
</nav>
